@import '../style.scss';

.main-header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("../../assets/images/Images.png") no-repeat;
    max-height: 60vh;
    height: 60vh;
    background-size: cover;
    background-position: center;

    @include device(phone) {
        max-height: 30vh;
    }
}

.instagram-tag {
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
    padding-right: 25px;

    a {
        margin-right: 10px;
    }

    span {
        color: #ffffff;
        font-family: 'Open Sans', sans-serif;
        @include text-style(15px,
        800,
        24.38px,
        none,
        0.38px);
    }
}